---
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";
import "@fontsource-variable/montserrat";
import Particle from "@/components/Particle.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;

const { pathname } = Astro.url;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Somos una plataforma que facilita la contratación y colaboración con equipos creativos liderados por expertos por una suscripción mensual."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-[#021821] text-white">
		<Navbar />
		<div class="absolute">
			<Particle />
		</div>
		<div class="flex items-center justify-center">
			<slot />
		</div>
		{pathname === "/" && <Footer />}
	</body>
</html>

<style>
	body {
		font-family: "Montserrat Variable", sans-serif;
	}

	body::after {
		content: "";
		position: absolute;
		top: 50%;
		right: 0%;
		width: 120rem;
		height: 50rem;
		background-color: transparent;
		background-image: radial-gradient(
			at center right,
			#2bcfcf80 0%,
			#021822 60%
		);
		transform: translateY(-50%);
		pointer-events: none;
		z-index: -1;
	}
</style>
